.description-wrapper {
    display: flex;
    flex-direction: column;
}

#resume-link {
    display: none;
    margin-top: 20px;
}

.ant-avatar-lg {
    height: 50px;
    width: 50px;
}

.ant-card-meta-detail {
    margin-left: 15px;   
}

.resume-link {
    display: inline;
    font-size: 16px;
    /* color: #3f51b5; */
    color: rgb(30, 30, 30);
    cursor: pointer;
    /* font-weight: bold; */
    margin-top: 26px !important;
}

#handshake-emoji {
    margin-left: 5px;
    font-size: 20px;
}

#responsive-resume-link {
    font-size: 14px;
    display: inline;
    margin-left: 8px;
}

@media(max-width: 1380px) {
    #responsive-resume-link {
        display: inline;
        font-size: 14px;
    }

    #resume-link {
        display: none;
    }
}