.message-hidden {
    /* opacity: 0; */
}

#welcome-message {
    /* transition: 3s; */
}

.welcome-wrapper {
    text-align: center;
    margin-top: 40px;
}

#email-message {
    /* color: #1677ff; */
}

#message-card {
    margin-left: 20px;
    width: 90vw;
    height: 50px;
}

#info-card {
    margin-left: 20px;
    width: 28vw;
    height: 35px;
    margin-top: 40px;
}

#info-card .ant-card-body {
    display:flex;
    align-items: center;
    padding: 0px !important;
    height: 100%;
    margin-left: 20px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, .01) !important;
}

#message-card .ant-card-body {
    padding: 15px !important;
    padding-left: 0px !important;
    display:flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin-left: -10px; 
}

/* #robot-emoji {
    margin-left: 10px; 
    font-size: 22px;
    position: absolute;
    bottom: 7px;
} */

#robot-emoji {
    /* margin-left: 25px;  */
    font-size: 23px;
    margin-top: -2px;
    /* position: absolute;
    bottom: 7px; */
}

#phone-number {
    margin-left: 100px;
}

#location-icon, #phone-icon {
    margin-right: 15px;
    color: rgb(69, 178, 221);

}

@media (max-width: 1400px) {
    #robot-emoji {
        display: none;
    }

    #message-card .ant-card-body {
        margin-left: 10px;
        font-size: 13px;
        justify-content: flex-start;
    }
}

@media (max-width: 1300px) {
    #kommunicate-responsive {
        display: none;
    }
}