.carousel-wrapper {
    margin-top: 12px;
    margin-left: 12px;
    flex: 4;
    /* border: 1px solid lightgray; */
}

.carousel-wrapper {
    display: flex !important;
    justify-content: space-between;
}

.carousel-description {
    flex: 5;
    margin-right: 50px;
    margin-left: 50px;
}

#demo-github > svg {
    font-size: 20px !important;
    cursor: pointer;
}

#demo-github > svg:hover {
    color: rgb(69, 178, 221);
}

.live-demo {
    /* color: #3f51b5; */
}

.live-demo:hover {
    color: #3f51b5;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1380px) {
    .ant-carousel .slick-dots {
        padding-right: 20px;
        margin-bottom: 100px;
        justify-content: right;
    }
}