#timeline-line {
    /* border-color: rgba(265, 265, 265, .5); */
    border: solid .5px rgb(200, 200, 200);
  }

  .timeline-bubbles-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .timeline-bubble {
    width: 45px;
    height: 45px;
    /* background-color: lightsteelblue; */
    background-color: white;
    /* background-color: #f4ae72; */
    border-radius: 45px;
    color: black;
    font-size: 12px;
    position: relative;
    top: 30px;
    border: 1px dotted lightgray !important;
    /* font-weight: bold; */
}

  /* .timeline-bubble:hover {
      background-color:lightpink;
      color: white;
  } */

  .timeline-year {
    position: relative;
    top: 15px;
    left: 13.5px;
    font-size: 11px;
  }

#time-bubble-one-wrapper, #time-bubble-two-wrapper, #time-bubble-three-wrapper {
    flex: 1;
} 

#time-bubble-five-wrapper, #time-bubble-four-wrapper {
    flex: 2;
} 

#time-bubble-six-wrapper {
    flex: 0;
}

.skill-tag-wrapper {
    position: absolute;
    display: table;
}

.ant-tag {
    height: 30px;
    width: 100px;
    font-size: 13px;
    text-align: center;
    display: table-cell; vertical-align: middle;
    border-radius: 3px;
    color: white;
    font-family: Roboto;
    box-shadow: .25px .5px #888888

}

#skill-tag-wrapper-one  {
    top: 440px;
    left: 130px;
}

#skill-tag-wrapper-one  > span {
    color: rgba(242,101,36, .6) !important;
    border-color: rgba(242,101,36,.5) !important;
}

#skill-tag-wrapper-two {
    left: 55px;
    top: 400px;
}

#skill-tag-wrapper-two > span {
    color: rgba(40,101,240,.6) !important;
    border-color: rgba(40,101,240,.5) !important;
}

#skill-tag-wrapper-three {
    left: 80px;
    top: 510px;
}

#skill-tag-wrapper-three > span {
    color: rgba(27,118,156,.6) !important;
    border-color: rgba(27,118,156,.5) !important;
}

#skill-tag-wrapper-four {
    left: 185px;
    top: 550px;
}

#skill-tag-wrapper-four > span {
    color: rgba(101,155,211,.6) !important;
    border-color: rgba(101,155,211,.5) !important;
}

#skill-tag-wrapper-five {
    left: 295px;
    top: 450px;
}

#skill-tag-wrapper-five > span {
    color: rgba(121,134,184,.6) !important;
    border-color: rgba(121,134,184,.5) !important;
}

#skill-tag-wrapper-six {
    left: 375px;
    top: 415px;
}

#skill-tag-wrapper-six > span {
    color: rgba(221,39,56,.6) !important;
    border-color: rgb(221,39,56,.5) !important;
}

#skill-tag-wrapper-seven {
    left: 300px;
    top: 510px;
}

#skill-tag-wrapper-seven > span {
    color: rgba(248,151,28,.6) !important;
    border-color: rgba(248,151,28,.5) !important;
}


#skill-tag-wrapper-eight {
    right: 25vw;
    top: 420px;
}

#skill-tag-wrapper-eight > span {
    color: rgba(108,181,44,.6) !important;
    border-color: rgba(108,181,44,.5) !important;
}


#skill-tag-wrapper-nine {
    right: 18vw;
    top: 530px;
}

#skill-tag-wrapper-nine > span {
    color: rgba(236,114,17,.6) !important;
    border-color: rgba(236,114,17,.5) !important;
}

#skill-tag-wrapper-ten {
    right: 16vw;
    top: 570px;
}

#skill-tag-wrapper-ten > span {
    color: rgba(57,116,164,.6) !important;
    border-color: rgba(57,116,164,.5) !important;
}

#skill-tag-wrapper-eleven {
    right: 5vw;
    top: 400px;
}

#skill-tag-wrapper-eleven > span {
    color: rgba(96,219,251,.6) !important;
    border-color: rgba(96,219,251,.5) !important;
}

.skills-tags-wrapper {
    display: flex;
    justify-content: space-between;
}


#skill-tag-wrapper-twelve {
    left: 470px;
    top: 540px;
}

#skill-tag-wrapper-twelve > span {
    color: rgba(241,59,46,.6) !important;
    border-color: rgba(241,59,46,.5) !important;
}

#skill-tag-wrapper-thirteen {
    left: 260px;
    top: 530px;
}

#skill-tag-wrapper-thirteen > span {
    color: rgb(66,116,203,.6) !important;
    border-color: rgb(66,116,203,.5) !important;
}

#skill-tag-wrapper-fourteen {
    left: 420px;
    top: 430px;
}

#skill-tag-wrapper-fourteen > span {
    color: rgb(244,69,48, .6) !important;
    border-color: rgb(244,69,48, .5) !important;
}

#skill-tag-wrapper-fifteen {
    left: 180px;
    top: 390px;
}

#skill-tag-wrapper-fifteen > span {
    color: rgba(230,166,58, .6) !important;
    border-color: rgba(230,166,58,.5) !important;
}

#skill-tag-wrapper-sixteen {
    right: 15vw;
    top: 440px;
}

#skill-tag-wrapper-sixteen > span {
    color: rgba(222,57,54, .6) !important;
    border-color: rgba(222,57,54,.5) !important;
}

#skill-tag-wrapper-seventeen {
    right: 13vw;
    top: 400px;
}

#skill-tag-wrapper-seventeen > span {
    color: rgba(14,160,198,.6) !important;
    border-color: rgba(96,219,251,.5) !important;
}

#skill-tag-wrapper-eighteen {
    right: 9vw;
    top: 510px;
}

#skill-tag-wrapper-eighteen> span {
    color: rgba(53,61,63, .6) !important;
    border-color: rgba(53,61,63,.5) !important;
}


.ant-carousel .slick-dots li button {
    background: rgb(69, 178, 221) !important;
}

.ant-carousel .slick-dots-bottom {
    top: 275px;
}

@media(max-width: 1275px) {
    #skill-tag-wrapper-seventeen {
        display: none;
    }

    #skill-tag-wrapper-five {
        display: none;
    }

    #skill-tag-wrapper-seven {
        top: 525px;
    }
}