
.content-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.image-container {
  margin-left: 20px;
}

.ant-image-img {
  border-radius: 8px;
}

.ant-card-body {
  height: 205px;
}

.bio-container {
  margin-right: 20px;
  margin-left: 20px;
}

.steps-content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.timeline-wrapper {
  margin-top: 100px;
  margin-bottom: 145px;
  margin-left: 10px;
  margin-right: 10px;
}

/* hr {
  width: 92%;
} */

.steps-wrapper {
  /* line-height: 40vh;
  text-align: center; */
  border: 1px dashed rgb(190, 190, 190) !important;
}

.ant-steps-item-icon {
  background-color: rgb(250, 265, 264) !important;
  border: .5px dotted skyblue !important ;
  color: black !important; 
}

.ant-steps-icon {
  color: black !important; 
}

.ant-btn {
  width: 175px;
  background-color: skyblue;
}